*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.container{
    height: 100%;
    max-width: 70rem;
    margin: 0 auto;
    padding: 20px;
}

.container h1{
    font-size: 3rem;
    text-align: center;
    margin: 20px 0;
    font-family: sans-serif;
}

.gallery{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 
}

.card{
    width: 32%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;

}

.card img{
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    /* box-shadow: 0 0 20px #333; */
    object-fit: cover;    
}

.card:hover{
    transform: scale(1.03);
    transition: 0.3s;
    filter: drop-shadow(0 0 10px black) ;
}

.card:hover img{
    filter: grayscale(0%);
}

.card figcaption{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    width: 100%;
    height: 20%;
    font-size: 16px;
    font-weight:600 ;
    color: #fff;
    opacity: 0;
    border-radius: 0 0 10px 10px;
    background: linear-gradient(0deg, rgba(0 0 0 0.5)0% , rgba(255 255 255 0.5)0%);
    transition: 0.3s;
    
}

.card:hover figcaption{
    opacity: 1;
    transform: scale(1.03);
}